global
    log stdout format raw local0
    maxconn 2000

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 1m
    timeout server 1m
    timeout check 5s
    retries 3

frontend postgres_rw
    bind *:5432
    default_backend patroni_primary

frontend postgres_ro
    bind *:5433
    default_backend patroni_replicas

frontend prometheus
    bind *:8405
    mode http
    option socket-stats
    http-request use-service prometheus-exporter if { path /metrics }
    no log

listen stats
    bind *:7000
    mode http
    stats enable
    stats uri /
    stats refresh 5s

backend patroni_primary
    mode tcp
    option httpchk
    http-check connect port 8008
    http-check send meth GET uri /primary ver HTTP/1.1 hdr Host patroni
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server pg1 pg1:5432 check port 8008
    server pg2 pg2:5432 check port 8008
    server pg3 pg3:5432 check port 8008

backend patroni_replicas
    mode tcp
    balance roundrobin
    option httpchk
    http-check connect port 8008
    http-check send meth GET uri /replica ver HTTP/1.1 hdr Host patroni
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server pg1 pg1:5432 check port 8008
    server pg2 pg2:5432 check port 8008
    server pg3 pg3:5432 check port 8008
